@page "/taikhoan/edit/{id:guid}"
@inject ITaiKhoanService _taiKhoanService
@inject NavigationManager NavigationManager

@using Data.Models
@using Microsoft.AspNetCore.Components.Forms

<link rel="stylesheet" href="/css/Form.css" />

@if (TaiKhoan == null)
{
    <p class="text-danger">Không tìm thấy tài khoản!</p>
}
else
{
    <EditForm Model="TaiKhoan" OnValidSubmit="HandleValidSubmit">
        <input type="hidden" value="@TaiKhoan.TaikhoanId" />

        <div class="form-group">
            <label>Tên đăng nhập</label>
            <InputText @bind-Value="TaiKhoan.Username" class="form-control" />
        </div>

        <div class="form-group">
            <label>Mật khẩu</label>
            <InputText @bind-Value="TaiKhoan.Password" type="password" class="form-control" />
        </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-warning">💾 Lưu</button>
            <a href="/taikhoan/chitiet/@TaiKhoan.TaikhoanId" class="btn btn-secondary">✖️ Hủy</a>
        </div>
    </EditForm>
}

@code {
    [Parameter]
    public Guid id { get; set; }

    public TaiKhoan TaiKhoan { get; set; }

    protected override async Task OnInitializedAsync()
    {
        TaiKhoan = await _taiKhoanService.GetByIdTaiKhoanAsync(id);
    }

    private async Task HandleValidSubmit()
    {
        await _taiKhoanService.UpdateTaiKhoanAsync(TaiKhoan);
        NavigationManager.NavigateTo($"/taikhoan/chitiet/{TaiKhoan.TaikhoanId}");
    }
}
