@inherits LayoutComponentBase


<link href="css/Sidebar.css" rel="stylesheet" />

<div class="page">
    <div class="sidebar">
        <NavAdmin /> 
    </div>

    <div class="main">
        <div class="header">
            <div class="user-area">
                
                <span class="bell" @onclick="ToggleBellDropdown">
                    🔔<span class="badge">2</span>
                    @if (showBellDropdown)
                    {
                        <div class="dropdown-bell">
                            
                            <div class="bell-title">Thông báo mới</div>
                            <hr>
                            <div class="dropdown-item">Thông báo 1</div>
                            <div class="dropdown-item">Thông báo 2</div>
                        </div>
                    }
                </span>
                <img class="avatar" @onclick="ToggleAvatarDropdown" src="https://randomuser.me/api/portraits/women/44.jpg" alt="user" />
                @if (showAvatarDropdown)
                {
                    <div class="dropdown-avatar">
                        
                        <div class="dropdown-item">Thông tin tài khoản</div>
                        <div class="dropdown-item">Đăng xuất</div> 
                    </div>
                }
            </div>
        </div>
        <div class="dashboard-content">
            @Body 
        </div>
    </div>
</div>




@code {
    private bool showBellDropdown = false;
    private bool showAvatarDropdown = false;

    private void ToggleBellDropdown()
    {
        showBellDropdown = !showBellDropdown;
        
        if (showBellDropdown) showAvatarDropdown = false;
        StateHasChanged();
    }

    private void ToggleAvatarDropdown()
    {
        showAvatarDropdown = !showAvatarDropdown;
        
        if (showAvatarDropdown) showBellDropdown = false;
        StateHasChanged(); 
    }


}