<div class="sidebar">
    <div class="logo">
    </div>

    <ul>
        <NavLink class="nav-link" href="/thongke" >
            <li class="active" >
                <span class="menu-label">📊 Thống kê</span> 
            </li>
        </NavLink>
        
        <NavLink class="nav-link" href="/BanHang">
            <li >
                <span class="menu-label">🛒 Bán hàng tại quầy</span>
            </li>
        </NavLink>
        <NavLink class="nav-link" href="/QuanLyDonHang">
            <li>
                <span class="menu-label">📦 Quản lý đơn hàng</span>
            </li>
        </NavLink>
        <NavLink class="nav-link" href="/Admin/QuanLySanPham">
            <li>
                <span class="menu-label">👟 Quản lý sản phẩm</span>
                <span class="arrow">&#9660;</span>
            </li>
        </NavLink>
        <NavLink class="nav-link" href="/TraHang">
            <li>
                <span class="menu-label">↩️ Trả hàng</span>
            </li>
        </NavLink>
        <NavLink class="nav-link" href="/Admin/GiamGia">
            <li>
                <span class="menu-label">🏷️ Giảm giá</span>
                <span class="arrow">&#9660;</span>
            </li>
        </NavLink>
        <NavLink class="nav-link" href="/quanlynhanvien">
            <li>
                <span class="menu-label">👤 Tài khoản</span>
                <span class="arrow">&#9660;</span>
            </li>
        </NavLink>
        
    </ul>
</div>